<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
        <session-factory>
            <!--Dialect-->
            <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
            <!--DB Drivers-->
            <property name="hibernate.connection.driver_class">org.h2.Driver</property>
            <!--DB url-->
            <property name="hibernate.connection.url">jdbc:h2://localhost/DBProjektas</property>
            <!--Credentials-->
            <property name="hibernate.connection.username">sa</property>
            <property name="hibernate.connection.password"></property>  //can be deleted if no password
            <!--SQL queries logs-->
            <property name="show_sql">true</property>
            <!--Recreate DB by scheme on startup-->
            <!--drop and create from new when app starts-->
            <property name="hibernate.hbm2ddl.auto">create-drop</property>
            <!--drop and update from new when app starts-->
            <!--<property name="hibernate.hbm2ddl.auto">update</property>-->

            <!--need without anotations-->
           <!-- <mapping resource="user.hbm.xml"/>-->
            <mapping class="hibernate.entity.User"/>
        </session-factory>
    </hibernate-configuration>
